.task-list {
  margin-left: auto;
  margin-right: auto;
  width: calc(100% - 100px);
  margin-top: 50px;
}

.newTask {
  display: block;
  padding: 20px;
  width: 500px;
  margin-top: 50px;
  background-color: #fff;
  box-shadow: 0px 0px 5px #888;
  margin-left: auto;
  margin-right: auto;
}

.newTask > .sub {
  margin-left: 30px;
  margin-top: 10px;
}
