<main>
  <div class="newTask">
      <input id="newTask" type="text" placeholder="Podaj nazwę zadania" (change)="addTask()">
      <button>Dodaj</button>
    </div>
  <div class="task-list">
    <app-task-list></app-task-list>
  </div>
</main>
