header {
  background-color: #fff;
  box-shadow: 0px 0px 5px #888; }

h1 {
  margin-top: 0px;
  color: #666;
  font-size: 25px;
  padding: 25px;
  text-align: center;
  border-bottom: 1px solid #eee; }

.menu-btn {
  position: absolute;
  top: 13px;
  left: 20px;
  font-size: 25px;
  background-color: #fff;
  width: 50px;
  height: 50px;
  text-align: center;
  line-height: 50px;
  border-radius: 100%;
  transition: all 0.3s; }

.menu-btn > img {
  width: 25px;
  height: 30px;
  margin-top: 11px; }

.menu-btn:hover {
  background-color: #f5f5f5;
  cursor: pointer;
  user-select: none;
  transition: all 0.3s; }

ul {
  list-style-type: none;
  padding: 0px;
  text-align: center;
  margin-top: -10px; }

ul > li {
  display: inline-block;
  margin-left: 5px;
  margin-right: 5px;
  padding: 10px;
  border-bottom: 3px solid #fff;
  color: #666; }

ul > li:hover {
  border-bottom: 3px solid #e2b00d;
  cursor: pointer; }

.progress-bar {
  height: 2px;
  background-color: #42b0f4;
  position: fixed;
  top: 0px;
  left: 0px;
  z-index: 99999; }

.p-0 {
  width: 0%;
  transition: all 0.3s; }

.p-1 {
  width: 1%;
  transition: all 0.3s; }

.p-2 {
  width: 2%;
  transition: all 0.3s; }

.p-3 {
  width: 3%;
  transition: all 0.3s; }

.p-4 {
  width: 4%;
  transition: all 0.3s; }

.p-5 {
  width: 5%;
  transition: all 0.3s; }

.p-6 {
  width: 6%;
  transition: all 0.3s; }

.p-7 {
  width: 7%;
  transition: all 0.3s; }

.p-8 {
  width: 8%;
  transition: all 0.3s; }

.p-9 {
  width: 9%;
  transition: all 0.3s; }

.p-10 {
  width: 10%;
  transition: all 0.3s; }

.p-11 {
  width: 11%;
  transition: all 0.3s; }

.p-12 {
  width: 12%;
  transition: all 0.3s; }

.p-13 {
  width: 13%;
  transition: all 0.3s; }

.p-14 {
  width: 14%;
  transition: all 0.3s; }

.p-15 {
  width: 15%;
  transition: all 0.3s; }

.p-16 {
  width: 16%;
  transition: all 0.3s; }

.p-17 {
  width: 17%;
  transition: all 0.3s; }

.p-18 {
  width: 18%;
  transition: all 0.3s; }

.p-19 {
  width: 19%;
  transition: all 0.3s; }

.p-20 {
  width: 20%;
  transition: all 0.3s; }

.p-21 {
  width: 21%;
  transition: all 0.3s; }

.p-22 {
  width: 22%;
  transition: all 0.3s; }

.p-23 {
  width: 23%;
  transition: all 0.3s; }

.p-24 {
  width: 24%;
  transition: all 0.3s; }

.p-25 {
  width: 25%;
  transition: all 0.3s; }

.p-26 {
  width: 26%;
  transition: all 0.3s; }

.p-27 {
  width: 27%;
  transition: all 0.3s; }

.p-28 {
  width: 28%;
  transition: all 0.3s; }

.p-29 {
  width: 29%;
  transition: all 0.3s; }

.p-30 {
  width: 30%;
  transition: all 0.3s; }

.p-31 {
  width: 31%;
  transition: all 0.3s; }

.p-32 {
  width: 32%;
  transition: all 0.3s; }

.p-33 {
  width: 33%;
  transition: all 0.3s; }

.p-34 {
  width: 34%;
  transition: all 0.3s; }

.p-35 {
  width: 35%;
  transition: all 0.3s; }

.p-36 {
  width: 36%;
  transition: all 0.3s; }

.p-37 {
  width: 37%;
  transition: all 0.3s; }

.p-38 {
  width: 38%;
  transition: all 0.3s; }

.p-39 {
  width: 39%;
  transition: all 0.3s; }

.p-40 {
  width: 40%;
  transition: all 0.3s; }

.p-41 {
  width: 41%;
  transition: all 0.3s; }

.p-42 {
  width: 42%;
  transition: all 0.3s; }

.p-43 {
  width: 43%;
  transition: all 0.3s; }

.p-44 {
  width: 44%;
  transition: all 0.3s; }

.p-45 {
  width: 45%;
  transition: all 0.3s; }

.p-46 {
  width: 46%;
  transition: all 0.3s; }

.p-47 {
  width: 47%;
  transition: all 0.3s; }

.p-48 {
  width: 48%;
  transition: all 0.3s; }

.p-49 {
  width: 49%;
  transition: all 0.3s; }

.p-50 {
  width: 50%;
  transition: all 0.3s; }

.p-51 {
  width: 51%;
  transition: all 0.3s; }

.p-52 {
  width: 52%;
  transition: all 0.3s; }

.p-53 {
  width: 53%;
  transition: all 0.3s; }

.p-54 {
  width: 54%;
  transition: all 0.3s; }

.p-55 {
  width: 55%;
  transition: all 0.3s; }

.p-56 {
  width: 56%;
  transition: all 0.3s; }

.p-57 {
  width: 57%;
  transition: all 0.3s; }

.p-58 {
  width: 58%;
  transition: all 0.3s; }

.p-59 {
  width: 59%;
  transition: all 0.3s; }

.p-60 {
  width: 60%;
  transition: all 0.3s; }

.p-61 {
  width: 61%;
  transition: all 0.3s; }

.p-62 {
  width: 62%;
  transition: all 0.3s; }

.p-63 {
  width: 63%;
  transition: all 0.3s; }

.p-64 {
  width: 64%;
  transition: all 0.3s; }

.p-65 {
  width: 65%;
  transition: all 0.3s; }

.p-66 {
  width: 66%;
  transition: all 0.3s; }

.p-67 {
  width: 67%;
  transition: all 0.3s; }

.p-68 {
  width: 68%;
  transition: all 0.3s; }

.p-69 {
  width: 69%;
  transition: all 0.3s; }

.p-70 {
  width: 70%;
  transition: all 0.3s; }

.p-71 {
  width: 71%;
  transition: all 0.3s; }

.p-72 {
  width: 72%;
  transition: all 0.3s; }

.p-73 {
  width: 73%;
  transition: all 0.3s; }

.p-74 {
  width: 74%;
  transition: all 0.3s; }

.p-75 {
  width: 75%;
  transition: all 0.3s; }

.p-76 {
  width: 76%;
  transition: all 0.3s; }

.p-77 {
  width: 77%;
  transition: all 0.3s; }

.p-78 {
  width: 78%;
  transition: all 0.3s; }

.p-79 {
  width: 79%;
  transition: all 0.3s; }

.p-80 {
  width: 80%;
  transition: all 0.3s; }

.p-81 {
  width: 81%;
  transition: all 0.3s; }

.p-82 {
  width: 82%;
  transition: all 0.3s; }

.p-83 {
  width: 83%;
  transition: all 0.3s; }

.p-84 {
  width: 84%;
  transition: all 0.3s; }

.p-85 {
  width: 85%;
  transition: all 0.3s; }

.p-86 {
  width: 86%;
  transition: all 0.3s; }

.p-87 {
  width: 87%;
  transition: all 0.3s; }

.p-88 {
  width: 88%;
  transition: all 0.3s; }

.p-89 {
  width: 89%;
  transition: all 0.3s; }

.p-90 {
  width: 90%;
  transition: all 0.3s; }

.p-91 {
  width: 91%;
  transition: all 0.3s; }

.p-92 {
  width: 92%;
  transition: all 0.3s; }

.p-93 {
  width: 93%;
  transition: all 0.3s; }

.p-94 {
  width: 94%;
  transition: all 0.3s; }

.p-95 {
  width: 95%;
  transition: all 0.3s; }

.p-96 {
  width: 96%;
  transition: all 0.3s; }

.p-97 {
  width: 97%;
  transition: all 0.3s; }

.p-98 {
  width: 98%;
  transition: all 0.3s; }

.p-99 {
  width: 99%;
  transition: all 0.3s; }

.p-100 {
  width: 100%;
  background-color: #98d68b;
  transition: all 0.3s; }

#bg {
  position: fixed;
  top: 0px;
  left: 0px;
  background-color: rgba(34, 34, 34, 0.65);
  width: 100%;
  height: 100%; }

.show {
  display: block; }

.hidden {
  display: none; }

.projectCreator {
  position: fixed;
  top: -450px;
  padding: 20px;
  background-color: #fff;
  width: 600px;
  height: 300px;
  left: calc(50% - 335px);
  transition: all 0.3s;
  border-radius: 10px; }

.ext {
  top: 50px;
  transition: all 0.3s; }

/*# sourceMappingURL=app.component.css.map */
