<header>
  <div [className]="'progress-bar p-' + perc"></div>
  <div class='menu-btn' (click)="showMenu()"><img src="assets/hamburger-menu.png"></div>
  <h1>{{currentProject?.Title | defaultText:'Nie wybrano projektu'}}</h1>
  <ul>
    <li>Zadania</li>
    <li>Kalendarz</li>
    <li>Informacje</li>
  </ul>
</header>
<app-left-menu></app-left-menu>
<main>
  <ng-container [ngSwitch]="currentTab">
    <app-tasks-tab [projectID]="currentProject?.ID" *ngSwitchCase="1"></app-tasks-tab>
  </ng-container>
</main>
<div id="bg" class="hidden"></div>
<div [className]="projectClass">
  <app-project-creator></app-project-creator>
</div>
