header {
  background-color: #fff;
  box-shadow: 0px 0px 5px #888;
}

h1 {
  margin-top: 0px;
  color: #666;
  font-size: 25px;
  padding: 25px;
  text-align: center;
  border-bottom: 1px solid #eee;
}

.menu-btn {
  position: absolute;
  top: 13px;
  left: 20px;
  font-size: 25px;
  background-color: #fff;
  width: 50px;
  height: 50px;
  text-align: center;
  line-height: 50px;
  border-radius: 100%;
  transition: all 0.3s;
}

.menu-btn > img {
  width: 25px;
  height: 30px;
  margin-top: 11px;
}

.menu-btn:hover {
  background-color: #f5f5f5;
  cursor: pointer;
  user-select: none;
  transition: all 0.3s;
}

ul {
  list-style-type: none;
  padding: 0px;
  text-align: center;
  margin-top: -10px;
}

ul > li {
  display: inline-block;
  margin-left: 5px;
  margin-right: 5px;
  padding: 10px;
  border-bottom: 3px solid #fff;
  color: #666;
}

ul > li:hover {
  border-bottom: 3px solid rgb(226, 176, 13);
  cursor: pointer;
}


.progress-bar {
  height: 2px;
  background-color: #42b0f4;
  position: fixed;
  top: 0px;
  left: 0px;
  z-index: 99999;
}

@for $i from 0 to 100 {
  .p-#{$i} {
    width: $i + 0%;
    transition: all 0.3s;
  }
}

.p-100 {
  width: 100%;
  background-color: #98d68b;
  transition: all 0.3s;
}

#bg {
  position: fixed;
  top: 0px;
  left: 0px;
  background-color: rgba(#222, 0.65);
  width: 100%;
  height: 100%;
}

.show {
  display: block;
}

.hidden {
  display: none;
}

.projectCreator {
  position: fixed;
  top: -450px;
  padding: 20px;
  background-color: #fff;
  width: 600px;
  height: 300px;
  left: calc(50% - 335px);
  transition: all 0.3s;
  border-radius: 10px;
}

.ext {
  top: 50px;
  transition: all 0.3s;
}
