.wrapper {
  background-color: #333;
  position: fixed;
  left: -300px;
  top: 0px;
  width: 300px;
  height: 100%;
  transition: all 0.3s;
  z-index: 9999;
}

.ext {
  left: 0px;
}

.wrapper > h1 {
  margin: 0px;
  padding: 20px;
  color: #fff;
  font-size: 20px;
}

button {
  background-color: #f44242;
  color: #fff;
  outline: none;
  font-size: 16px;
  border: none;
  border-radius: 100%;
  margin-top: 25px;
  display: block;
  margin-right: auto;
  margin-left: auto;
  width: 40px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  font-size: 20px;
}

button:hover {
  background-color: #d22020;
  cursor: pointer;
}

.loading {
  color: #fff;
  text-align: center;
  border: 4px solid #666;
  border-top: 4px solid #fff;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  animation: spin .5s linear infinite;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
}

@keyframes spin {
  0% { transform: rotate(0deg);  }
  100% { transform: rotate(360deg); }
}

.list .item {
  color: #fff;
  padding: 15px;
  font-size: 18px;
  background-color: #444;
}

.list .item:hover {
  background-color: #555;
  cursor: pointer;
}

h1 > img {
  float: right;
  margin-top: -5px;
  width: 30px;
  height: 30px;
  margin-right: -10px;
  margin-left: 15px;
}

h1 > img:hover {
  background-color: #505050;
  cursor: pointer;
}

.no-find {
  color: #fff;
  text-align: center;
  margin-top: 15px;
  font-size: 18px;
}
