<div [className]="menuClass">
  <h1>Projekty
    <img src="assets/close.png" title="Zamknij" (click)="hideMenu()">
    <img src="assets/refresh.png" title="Odwież">
  </h1>
  <div class="list">
    <ng-container *ngIf="projectsList !== null; else loading">
      <ng-container *ngIf="projectsList.length > 0; else noProjects">
        <ng-container *ngFor="let project of projectsList">
          <div class="item" (click)="changeProject(project)">{{project.Title}}</div>
        </ng-container>
      </ng-container>
    </ng-container>
    <ng-template #loading>
      <div class="loading"></div>
    </ng-template>
    <ng-template #noProjects>
      <div class="no-find">Brak projektów</div>
    </ng-template>
  </div>
  <button (click)="newProject()" title="Nowy projekt">+</button>
</div>
