input[type="text"] {
  outline: none;
  padding: 5px;
  font-size: 20px;
  color: #666;
  border: none;
  // border-bottom: 1px solid #ddd;
  display: block;
  width: 100%;
}

textarea {
  width: 100%;
  display: block;
  height: 150px;
  padding: 5px;
  font-size: 16px;
  color: #666;
  outline: none;
  resize: none;
  border: none;
  margin-top: 25px;
}

button {
  padding: 15px 25px;
  background-color: #f44242;
  color: #fff;
  float: right;
  border: none;
  outline: none;
  margin-top: 35px;
  cursor: pointer;

  &:hover {
    background-color: #d22020;
  }
}

.cancel {
  background-color: #fff;
  color: #666;

  &:hover {
    background-color: #f5f5f5;
  }
}
