<input type="text" placeholder="Tytuł" [value]="title" [(ngModel)]="title">
<textarea placeholder="Opis ..." [(ngModel)]="desc">{{desc}}</textarea>
<button (click)="addProject()">Dodaj</button>
<button (click)="hide()" class="cancel">Anuluj</button>
