<div class="list">
  <ng-container *ngIf="tasksList !== null; else loading">
    <ng-container *ngIf="tasksList.length > 0; else noTasks">
      <ng-container *ngFor="let task of tasksList; let index = index">
        <div class="item">
          <div [className]="'task'" appTaskDelete [task]="task">
            <div [id]="'t' + task.ID" (click)="submitTask(task.ID)" class="state s{{task.Done}}"></div>
            <input [id]="'i' + task.ID" class="editText" type="text" value="{{task.Title}}" (change)="renameTask(task.ID)">
          </div>
          <div class="sub">
            <ng-container *ngFor="let subtask of task['Subtasks']; let i = index">
              <div [className]="'subtask'" appTaskDelete [task]="subtask" [index]="i">
                <div [id]="'t' + subtask.ID" (click)="submitTask(subtask.ID)" class="state s{{subtask.Done}}"></div>
                <input [id]="'i' + subtask.ID" class="editText" type="text" value="{{subtask.Title}}" (change)="renameTask(subtask.ID)">
              </div>
            </ng-container>
            <input appTaskAdd [info]="[task.ProjectID, task.ID]" class="newTaskInput" type="text" placeholder="+ Wpisz nowe zadanie">
          </div>
        </div>
      </ng-container>
    </ng-container>
  </ng-container>
  <ng-template #loading>
    <div class="loading"></div>
  </ng-template>
  <ng-template #noTasks>
    <div class="no-find">Brak zadań</div>
  </ng-template>
</div>
