.list {
  margin-bottom: 50px;
  padding-top: -30px;
  font-weight: bold;
}

.state {
  width: 10px;
  height: 10px;
  border-radius: 100%;
  display: inline-block;
  cursor: pointer;
}

.s0 {
  transition: all 0.3s;
  border: 2px solid #666;
}

.s1 {
  background-color: #fff;
  transition: all 0.3s;
  transform: rotate3d(1, 0, 0, 180deg);
  border: 2px solid #43991e;
  background-color: #53d11d;
}

.list .item {
  display: inline-block;
  margin-left: 2px;
  font-size: 18px;
  color: #666;
  font-weight: normal;
}

.loading {
  color: #fff;
  text-align: center;
  border: 4px solid #ddd;
  border-top: 4px solid #777;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  animation: spin .5s linear infinite;
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
}

@keyframes spin {
  0% { transform: rotate(0deg);  }
  100% { transform: rotate(360deg); }
}

.no-find {
  text-align: center;
  color: #fff;
  font-size: 22px;
}

.list {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}

.list > .item, .newTask {
  display: inline-block;
  padding: 20px;
  width: 500px;
  margin: 20px;
  justify-content: flex-start;
  align-self: flex-start;
  background-color: #fff;
  box-shadow: 0px 0px 5px #888;

  & > .sub {
    margin-left: 30px;
    margin-top: 10px;
  }
}

.list .editText {
  border: 0px;
  outline: none;
  color: #666;
  padding: 5px;
  font-size: inherit;
  width: calc(100% - 32px);
  display: inline-block;
  cursor: pointer;
  border: 1px solid #fff;
  background-color: inherit;

  &:hover {
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
  }

  &:focus {
    cursor: text;
    background-color: #f2f2f2;
    border: 1px solid #ddd;
  }
}

$color: #666;

::placeholder {
  color: $color;
}

:-ms-input-placeholder {
  color: $color;
}

::-ms-input-placeholder {
  color: $color;
}

.newTaskInput {
  border: none;
  outline: none;
  font-size: 15px;
  margin-top: 10px;
  padding: 10px;
  width: calc(100% - 22px);
  border: 1px solid #fff;
  color: #666;

  &:focus {
    background-color: #f2f2f2;
    border: 1px solid #ddd;
  }
}

$size: 20px;

.delete {
  position: absolute;
  top: -5.5px;
  right: 10px;
  display: block;
  background-color: #888;
  color: #fff;
  width: $size;
  height: $size;
  line-height: $size;
  text-align: center;
  border-radius: 100%;
  font-size: 12px;

  &:hover {
    background-color: #f44242;
    cursor: pointer;
  }
}

.task, .subtask {
  position: relative;
}
