/* You can add global styles to this file, and also import other style files */
body {
  background: #457fca; /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #457fca, #5691c8); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #457fca, #5691c8);
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
}
